.heraldVanguish-accessButtonContainer {
    position: fixed;
    bottom: 6vh;
    left: 75vw;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heraldVanguish-accessButton {
    background-color: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.heraldVanguish-dialogListNpcMiddle{
    padding-bottom: 20%;
}

.heraldVanguish-dialogNpcContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.heraldVanguish-dialogNpcImageContainer {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #363636;
    border: 2px solid #d4af37;
    z-index: 8;
    cursor: pointer;
}

.heraldVanguish-dialogNpcImageView {
    width: 99%;
    height: 99%;
    border: none;
    object-fit: cover;
    object-position: center;
    z-index: 8;
    border-radius: 50%;
}



.heraldVanguish-dialogNpcMiddle {}

.heraldVanguish-dialogNpcMiddleTop {
    display: flex;
    gap: 5px;
    align-items: center;
}

.heraldVanguish-dialogNpcName {
    font-weight: bold;
    font-size: 16px;
}

.heraldVanguish-dialogNpcHp {
    font-size: 12px;
}


.heraldVanguish-dialogNpcUuid {
    font-size: 10px;
    color: gray;
}

.heraldVanguish-dialogNpcMiddleBot {
    display: flex;
    gap: 5px;
    font-size: 12;
    color: gray;
}


.heraldVanguish-dialogNpcCr {
    font-size: 12px;
    color: gray;
}




.heraldVanguish-dialogNpcWeaknessContainer{
    display: flex;
    gap: 3px;
    
}

.heraldVanguish-dialogWeaknessAdd{
    cursor: pointer;
}

.heraldVanguish-dialogNpcRight {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heraldVanguish-weaknessCheckbox{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
}

.heraldVanguish-dialogListNpcBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 14;
    background-color: rgb(0, 0, 0,0.5);
}

.heraldVanguish-dialogListNpcBottomTop {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.heraldVanguish-applyToAllButton {
    padding: 2px 5px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.heraldVanguish-dialogListNpcBottomBot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heraldVanguish-searchListNpcContainer {
    flex: 2;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.heraldVanguish-searchListNpc {
    width: 100%;
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    background-color: rgb(37, 37, 37) !important;
    color: #ddd !important;
}

.heraldVanguish-searchListNpc::placeholder {
    color: #aaa !important;
}

.heraldVanguish-saveListNpcContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.heraldVanguish-saveListNpc {
    padding: 2px 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.heraldVanguish-saveListNpc:hover {
    background-color: #218838;
}


